<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>

		<serviceProviderBuilder set:type="PING.Feature.SitecoreSettingsRedirector.Services.OverrideServiceProviderBuilder, PING.Feature.SitecoreSettingsRedirector" />

		<overrideDefaultServiceRegistrations>
			<override serviceType="Sitecore.Abstractions.BaseSettings, Sitecore.Kernel" implementationType="PING.Feature.SitecoreSettingsRedirector.Services.OverridableSettings, PING.Feature.SitecoreSettingsRedirector" lifetime="Singleton" />
		</overrideDefaultServiceRegistrations>
		
	</sitecore>
</configuration>