<?xml version="1.0" encoding="utf-8"?>
<sitecore basetype="Sitecore.FakeDb.Configuration.ConfigReader, Sitecore.FakeDb" xbasetype="Sitecore.Configuration.RuleBasedConfigReader, Sitecore.Kernel">
    <settings>
      <setting name="LicenseFile" value="..\..\license.xml"/>

      <setting name="intSetting" value="1"/>
      <setting name="stringSetting" value="test"/>
      <setting name="boolSetting" value="true"/>
      <setting name="doubleSetting" value="5"/>
      <setting name="timespanSetting" value="00:05:00"/>

      <setting name="overridenStringSetting" value="sitecoreValue"/>

      <setting name="overridenBoolSetting" value="false"/>

      <setting name="overridenIntSetting1" value="1"/>
      <setting name="overridenIntSetting2" value="2KB"/>
      <setting name="overridenIntSetting3" value="3"/>

      <setting name="overridenLongSetting1" value="1"/>
      <setting name="overridenLongSetting2" value="2KB"/>
      <setting name="overridenLongSetting3" value="3"/>

      <setting name="overridenDoubleSetting" value="5"/>
      <setting name="overridenTimespanSetting" value="1:00:00"/>

      <setting name="solrcorenames" value="something_$(solrcoreversion)"/>


      <setting name="normalVariableSetting" value="$(normalVariableSetting)"/>

      <setting name="overrideVariableSetting" value="$(VariableOverrideKey)"/>

     
    </settings>
    <xpathtest>
      <TestObject1 type="PING.Feature.SitecoreConfigurationOverrideSystem.Test.TestObject, PING.Feature.SitecoreConfigurationOverrideSystem.Test">
        <param name="ctorProp1">Constructor mapping</param>
        <param name="ctorProp2">$(databaseType)</param>
        <param name="to2" ref="xpathtest/TestObject2" param1="some1" param2="some2"></param>
        <Property1>prop1</Property1>
        <Property2>prop2</Property2>
      </TestObject1>
      <TestObject2 type="PING.Feature.SitecoreConfigurationOverrideSystem.Test.TestObject2, PING.Feature.SitecoreConfigurationOverrideSystem.Test">
        <param name="ctorProp1">$(1)</param>
        <param name="ctorProp2">something_123</param>
        <Property1>prop3</Property1>
        <Property2>prop4</Property2>
      </TestObject2>

      <!--overrides below-->
      <TestObject3 type="PING.Feature.SitecoreConfigurationOverrideSystem.Test.TestObject, PING.Feature.SitecoreConfigurationOverrideSystem.Test">
        <param name="ctorProp1">I should be overwritten</param>
        <param name="ctorProp2">$(databaseType)</param>
        <param name="to2" ref="xpathtest/TestObject4" param1="some1" param2="some2"></param>
        <Property1>prop1</Property1>
        <Property2>prop2</Property2>
      </TestObject3>
      <TestObject4 type="PING.Feature.SitecoreConfigurationOverrideSystem.Test.TestObject2, PING.Feature.SitecoreConfigurationOverrideSystem.Test">
        <param name="ctorProp1">$(1)</param>
        <param name="ctorProp2">something_123</param>
        <Property1>prop3</Property1>
        <Property2>prop4</Property2>
      </TestObject4>
    </xpathtest>
    <sc.variable name="databaseType" value="Sitecore.Data.DefaultDatabase, Sitecore.Kernel"/>
    <sc.variable name="normalVariableSetting" value="normalVariableSettingValue"/>
    <sc.variable name="VariableOverrideKey" value="orginalVariableTobeOverwritten"/>
  </sitecore>