<configuration>
  <configSections>
    <section name="sitecore" type="PING.Feature.SitecoreSettingsRedirector.Configuration.OverrideRuleBasedConfigReader, PING.Feature.SitecoreSettingsRedirector"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging"/>
  </configSections>
  <appSettings>
    <add key="xunit.parallelizeTestCollections" value="false"/>

    <add key="SitecoreSetting.overridenStringSetting" value="app-value"/>

    <add key="SitecoreSetting.overridenBoolSetting" value="true"/>

    <add key="SitecoreSetting.overridenIntSetting1" value="11"/>
    <add key="SitecoreSetting.overridenIntSetting2" value="22KB"/>
    <add key="SitecoreSetting.overridenIntSetting3" value=""/>

    <add key="SitecoreSetting.overridenLongSetting1" value="11"/>
    <add key="SitecoreSetting.overridenLongSetting2" value="22KB"/>
    <add key="SitecoreSetting.overridenLongSetting3" value=""/>

    <add key="SitecoreSetting.overridenDoubleSetting" value="50"/>

    <add key="SitecoreSetting.overridenTimespanSetting" value="0:30:00"/>

    <add key="SitecorePatch.TestUpdateText.xPath" value="/sitecore/xpathtest/TestObject3/param[1]"/>
    <add key="SitecorePatch.TestUpdateText.Action" value="[update]text()=patchUpdatenOverrideValue"/>

    <add key="SitecorePatch.TestUpdateAttribute.xPath" value="/sitecore/xpathtest/TestObject3/param[3]"/>
    <add key="SitecorePatch.TestUpdateAttribute.Action" value="[update]@param1:patchUpdatenAttributeOverrideValue"/>

    <add key="SitecorePatch.TestAdd.xPath" value="/sitecore/settings"/>
    <add key="SitecorePatch.TestAdd.Action" value="[add]&lt;setting name='patchAddValue' value='patchAddOverrideValue' /&gt;"/>

    <add key="SitecorePatch.TestRemove.xPath" value="/sitecore/xpathtest/TestObject4/Property2"/>
    <add key="SitecorePatch.TestRemove.Action" value="[remove]"/>

    <add key="SitecoreVariable.VariableOverrideKey" value="overrideValueForVariable"/>
  </appSettings>
  <sitecore>
    <settings>
      <setting name="LicenseFile" value="..\..\license.xml"/>

      <setting name="intSetting" value="1"/>
      <setting name="stringSetting" value="test"/>
      <setting name="boolSetting" value="true"/>
      <setting name="doubleSetting" value="5"/>
      <setting name="timespanSetting" value="00:05:00"/>

      <setting name="overridenStringSetting" value="sitecoreValue"/>

      <setting name="overridenBoolSetting" value="false"/>

      <setting name="overridenIntSetting1" value="1"/>
      <setting name="overridenIntSetting2" value="2KB"/>
      <setting name="overridenIntSetting3" value="3"/>

      <setting name="overridenLongSetting1" value="1"/>
      <setting name="overridenLongSetting2" value="2KB"/>
      <setting name="overridenLongSetting3" value="3"/>

      <setting name="overridenDoubleSetting" value="5"/>
      <setting name="overridenTimespanSetting" value="1:00:00"/>

      <setting name="solrcorenames" value="something_$(solrcoreversion)"/>
 
      
      <setting name="normalVariableSetting" value="$(normalVariableSetting)"/>
      
      <setting name="overrideVariableSetting" value="$(VariableOverrideKey)"/>
    </settings>
    <xpathtest>
      <TestObject1 type="PING.Feature.SitecoreSettingsRedirector.Test.TestObject, PING.Feature.SitecoreSettingsRedirector.Test">
        <param name="ctorProp1">Constructor mapping</param>
        <param name="ctorProp2">$(databaseType)</param>
        <param name="to2" ref="xpathtest/TestObject2" param1="some1" param2="some2"></param>
        <Property1>prop1</Property1>
        <Property2>prop2</Property2>
      </TestObject1>
      <TestObject2 type="PING.Feature.SitecoreSettingsRedirector.Test.TestObject2, PING.Feature.SitecoreSettingsRedirector.Test">
        <param name="ctorProp1">$(1)</param>
        <param name="ctorProp2">something_123</param>
        <Property1>prop3</Property1>
        <Property2>prop4</Property2>
      </TestObject2>

      <!--overrides below-->
      <TestObject3 type="PING.Feature.SitecoreSettingsRedirector.Test.TestObject, PING.Feature.SitecoreSettingsRedirector.Test">
        <param name="ctorProp1">I should be overwritten</param>
        <param name="ctorProp2">$(databaseType)</param>
        <param name="to2" ref="xpathtest/TestObject4" param1="some1" param2="some2"></param>
        <Property1>prop1</Property1>
        <Property2>prop2</Property2>
      </TestObject3>
      <TestObject4 type="PING.Feature.SitecoreSettingsRedirector.Test.TestObject2, PING.Feature.SitecoreSettingsRedirector.Test">
        <param name="ctorProp1">$(1)</param>
        <param name="ctorProp2">something_123</param>
        <Property1>prop3</Property1>
        <Property2>prop4</Property2>
      </TestObject4>
    </xpathtest>
    <sc.variable name="databaseType" value="Sitecore.Data.DefaultDatabase, Sitecore.Kernel"/>
    <sc.variable name="normalVariableSetting" value="normalVariableSettingValue"/>
    <sc.variable name="VariableOverrideKey" value="orginalVariableTobeOverwritten"/>
  </sitecore>
  <log4net/>
  <system.web>
    <membership defaultProvider="fake">
      <providers>
        <clear/>
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeMembershipProvider, Sitecore.FakeDb"/>
      </providers>
    </membership>
    <roleManager defaultProvider="fake" enabled="true">
      <providers>
        <clear/>
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeRoleProvider, Sitecore.FakeDb"/>
      </providers>
    </roleManager>
    <profile defaultProvider="fake" enabled="true" inherits="Sitecore.FakeDb.Profile.FakeUserProfile, Sitecore.FakeDb">
      <providers>
        <clear/>
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeProfileProvider, Sitecore.FakeDb"/>
      </providers>
      <properties>
        <clear/>
        <add type="System.String" name="SC_UserData"/>
      </properties>
    </profile>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
