<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file changes the "dataFolder" setting

To enable this, rename this file so that it has a ".config" extension

Notice how "patch:attribute" is used to change the value of attributes that 
are specified for an existing element in the web.config file

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="setupFromIncludeZzz">
        <patch:attribute name="value">NewValueOfsetupFromIncludeZzz</patch:attribute>
      </setting>
      <setting name="setupFromIncludeZzzOverwrite">
        <patch:attribute name="value">orginalValue</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>