<configuration>
  <configSections>
    <section name="sitecore" type="PING.Feature.SitecoreConfigurationOverrideSystem.OverrideRuleBasedConfigReader, PING.Feature.SitecoreConfigurationOverrideSystem"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging"/>
  </configSections>
  <appSettings>
    <add key="xunit.parallelizeTestCollections" value="false"/>

    <add key="SitecoreSetting.overridenStringSetting" value="app-value"/>

    <add key="SitecoreSetting.overridenBoolSetting" value="true"/>

    <add key="SitecoreSetting.overridenIntSetting1" value="11"/>
    <add key="SitecoreSetting.overridenIntSetting2" value="22KB"/>
    <add key="SitecoreSetting.overridenIntSetting3" value=""/>

    <add key="SitecoreSetting.overridenLongSetting1" value="11"/>
    <add key="SitecoreSetting.overridenLongSetting2" value="22KB"/>
    <add key="SitecoreSetting.overridenLongSetting3" value=""/>

    <add key="SitecoreSetting.overridenDoubleSetting" value="50"/>

    <add key="SitecoreSetting.overridenTimespanSetting" value="0:30:00"/>

    <add key="SitecorePatch.TestUpdateText.xPath" value="/sitecore/xpathtest/TestObject3/param[1]"/>
    <add key="SitecorePatch.TestUpdateText.Action" value="[update]text()=patchUpdatenOverrideValue"/>

    <add key="SitecorePatch.TestUpdateAttribute.xPath" value="/sitecore/xpathtest/TestObject3/param[3]"/>
    <add key="SitecorePatch.TestUpdateAttribute.Action" value="[update]@param1:patchUpdatenAttributeOverrideValue"/>

    <add key="SitecorePatch.TestAdd.xPath" value="/sitecore/settings"/>
    <add key="SitecorePatch.TestAdd.Action" value="[add]&lt;setting name='patchAddValue' value='patchAddOverrideValue' /&gt;"/>

    <add key="SitecorePatch.TestRemove.xPath" value="/sitecore/xpathtest/TestObject4/Property2"/>
    <add key="SitecorePatch.TestRemove.Action" value="[remove]"/>

    <add key="SitecoreVariable.VariableOverrideKey" value="overrideValueForVariable"/>

    <!--Enable below to test exception handling-->
    <add key="SitecorePatch.TestError.xPath" value="/sitecore/xpathtest/TestObject3/param[3]"/>
    <add key="SitecorePatch.TestError.Action" value="[update]@param1patchUpdatenAttributeOverrideValue"/>

    <add key="SitecoreSetting.setupFromIncludeZzz" value="overrideValueForAppConfig"/>
  </appSettings>
  <sitecore configSource="App_Config\Sitecore.config" />
  <log4net/>
  <system.web>
    <membership defaultProvider="fake">
      <providers>
        <clear/>
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeMembershipProvider, Sitecore.FakeDb"/>
      </providers>
    </membership>
    <roleManager defaultProvider="fake" enabled="true">
      <providers>
        <clear/>
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeRoleProvider, Sitecore.FakeDb"/>
      </providers>
    </roleManager>
    <profile defaultProvider="fake" enabled="true" inherits="Sitecore.FakeDb.Profile.FakeUserProfile, Sitecore.FakeDb">
      <providers>
        <clear/>
        <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeProfileProvider, Sitecore.FakeDb"/>
      </providers>
      <properties>
        <clear/>
        <add type="System.String" name="SC_UserData"/>
      </properties>
    </profile>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
